<h1>Listing category_catalogues</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_catalogues.each do |category_catalogue| %>
      <tr>
        <td><%= category_catalogue.title %></td>
        <td><%= category_catalogue.description %></td>
        <td><%= link_to 'Show', category_catalogue %></td>
        <td><%= link_to 'Edit', edit_category_catalogue_path(category_catalogue) %></td>
        <td><%= link_to 'Destroy', category_catalogue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category catalogue', new_category_catalogue_path %>
