- (action_name == "new" or action_name == "create") ? action="create" : action="update"
= simple_form_for @attachment, :url => url_for(:action => action, :controller => 'attachments') do |f|
  .container_form 
    .title_form
      Datos de Archivo
    .form-inyx
      = f.input :name, label: false, input_html: { class: 'form-control input-inyx',placeholder: "Nombre" }

      #input-upload
        = f.input :upload, label: false, collection: [["Subir imagen", 1], ["Imagen por url", 2], ["Video por url", 3], ["Musica por url", 3]], include_blank: "- Tipo de Archivo -", input_html: { class: "form-control input-inyx" }

      = f.input :description, label: false, input_html: { class: 'form-control input-inyx',placeholder: "Descripción" }

      #url
        = f.input :url, label: false, input_html: { class: 'form-control input-inyx',placeholder: "Url" }
      #externo
        = f.input :target, label: false, input_html: { class: 'form-control input-inyx',placeholder: "Enlance Externo" }

      %br
      = f.input :image, label: false, as: :file, input_html: { class: "form-control file", placeholder: 'Imagen', "data-buttonBefore" => false, "data-input" => false, "data-buttonText" => params[:action] == "new" ? "Subir imágen" : "Cambiar imágen", id: "input-20" }
      
      = f.input :public, :wrapper => :inline_checkbox
     
    %br
    .panel-footer
      .form-actions
        = f.button :submit, "Guardar", class: "btn submit-inyx pull-right"
      .clearfix

:javascript
    $('#input-upload').on('change', '', function (e) {

      var valueSelected = $("#input-upload option:selected").val();

      if(valueSelected=="1"){
        $(".file").show();
        $("#url").hide();
        $("#externo").show();
      }else if(valueSelected=="2"){
        $(".file").hide();
        $("#url").show();
        $("#externo").show();
      }else{
        $(".file").hide();
        $("#url").show();
        $("#externo").hide();
      }
    });


-if @attachment.upload == "1"
  :javascript    
    $(".file").show();
    $("#url").hide();
-else
  - if @attachment.upload.blank?
    :javascript    
      $(".file").hide();
      $("#url").hide();
  -else
    :javascript    
      $(".file").hide();
      $("#url").show();



- if @attachment.image.blank?
  :javascript
    $("#input-20").fileinput({
      browseClass: "btn btn-primary btn-block",
      showCaption: false,
      showRemove: false,
      showUpload: false,
      browseIcon: '<i class="fa fa-folder-open"></i>',
      browseLabel: ' Subir imágen',
    });
- else 
  :javascript
    $("#input-20").fileinput({
      browseClass: "btn btn-primary btn-block",
      showCaption: true,
      captionIcon: '<i class="fa fa-folder-open"></i>',
      showRemove: false,
      showUpload: false,
      browseIcon: '<i class="fa fa-folder-open"></i>',
      browseLabel: ' Subir imágen',
      initialPreview: ['"#{image_tag @attachment.image, class: 'file-preview-image' if !@attachment.image.blank?}"'],
      initialCaption: " #{@attachment.image.file.filename.humanize}"
    });