.catalog.container	
	.jumbotron
		%h1 
			=@catalog.name
		%p{aling:"justify"}
			=@catalog.description
	.row
		- @attachments.each do |attachment| 
			-if attachment.public == true
				.col-sm-6.col-md-4
					.thumbnail
						- if attachment.image && attachment.upload=='1'
							%img{src:"#{attachment.image}"}
						- if attachment.url && attachment.upload=='2'
							%img{src:"#{attachment.url}"}		
						- if attachment.url && attachment.upload=='3'
							%iframe.video-player.img-responsive{:allowfullscreen => "", :frameborder => "0",:src =>"#{attachment.url}"}
							.caption
								%h3 
									= attachment.name
								%p 
									= attachment.description
								%p
									%a.btn.btn-warning{:href => "/catalogos/#{attachment.catalog_id}/archivos/#{attachment.id}", :role => "button"} Ver				
