<h1>Listing attachments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Image</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.name %></td>
        <td><%= attachment.type %></td>
        <td><%= attachment.description %></td>
        <td><%= attachment.image %></td>
        <td><%= attachment.url %></td>
        <td><%= link_to 'Show', catalog_attachment_path(attachment.catalog_id, attachment) %></td>
        <td><%= link_to 'Edit', edit_catalog_attachment_path(attachment.catalog_id, attachment) %></td>
        <td><%= link_to 'Destroy', catalog_attachment_path(attachment.catalog_id, attachment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attachment', new_catalog_attachment_path %>
