= simple_form_for(@catalog) do |f|
  .container_form 
    .title_form
      Datos del Catalogo
    .form-inyx
      = f.input :name, label: false, input_html: { class: 'form-control input-inyx',placeholder: "Nombre" }

      = f.input :category, label: false, input_html: { class: 'form-control input-inyx',placeholder: "Cátegoria" }

      = f.input :description, label: false, input_html: { class: 'form-control input-inyx',placeholder: "Descripción" }
      %br
      = f.input :cover, label: false, as: :file, input_html: { class: "form-control file", placeholder: 'cover', "data-buttonBefore" => false, "data-input" => false, "data-buttonText" => params[:action] == "new" ? "Subir imágen" : "Cambiar imágen", id: "input-20" }
      = f.input :public, :wrapper => :inline_checkbox
    .panel-footer
      .form-actions
        = f.button :submit, "Guardar", class: "btn submit-inyx pull-right"
      .clearfix


- if @catalog.cover.blank?
  :javascript
    $("#input-20").fileinput({
      browseClass: "btn btn-primary btn-block",
      showCaption: false,
      showRemove: false,
      showUpload: false,
      browseIcon: '<i class="fa fa-folder-open"></i>',
      browseLabel: ' Subir imágen',
    });
- else 
  :javascript
    $("#input-20").fileinput({
      browseClass: "btn btn-primary btn-block",
      showCaption: true,
      captionIcon: '<i class="fa fa-folder-open"></i>',
      showRemove: false,
      showUpload: false,
      browseIcon: '<i class="fa fa-folder-open"></i>',
      browseLabel: ' Subir imágen',
      initialPreview: ['"#{image_tag @catalog.cover, class: 'file-preview-image' if !@catalog.cover.blank?}"'],
      initialCaption: " #{@catalog.cover.file.filename.humanize}"
    });