<h1>Listing catalogues</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Prince</th>
      <th>Public</th>
      <th>Category catalogue</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catalogues.each do |catalogue| %>
      <tr>
        <td><%= catalogue.image %></td>
        <td><%= catalogue.title %></td>
        <td><%= catalogue.description %></td>
        <td><%= catalogue.prince %></td>
        <td><%= catalogue.public %></td>
        <td><%= catalogue.category_catalogue_id %></td>
        <td><%= link_to 'Show', catalogue %></td>
        <td><%= link_to 'Edit', edit_catalogue_path(catalogue) %></td>
        <td><%= link_to 'Destroy', catalogue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Catalogue', new_catalogue_path %>
