<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @catalogue.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @catalogue.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @catalogue.description %>
</p>

<p>
  <strong>Prince:</strong>
  <%= @catalogue.prince %>
</p>

<p>
  <strong>Public:</strong>
  <%= @catalogue.public %>
</p>

<p>
  <strong>Category catalogue:</strong>
  <%= @catalogue.category_catalogue_id %>
</p>

<%= link_to 'Edit', edit_catalogue_path(@catalogue) %> |
<%= link_to 'Back', catalogues_path %>
